<p id="notice"><%= notice %></p>

<h1>Listing Banneds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Protected camper</th>
      <th>Camper</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banneds.each do |banned| %>
      <tr>
        <td><%= banned.name %></td>
        <td><%= banned.protected_camper %></td>
        <td><%= banned.camper %></td>
        <td><%= link_to 'Show', banned %></td>
        <td><%= link_to 'Edit', edit_banned_path(banned) %></td>
        <td><%= link_to 'Destroy', banned, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banned', new_banned_path %>
