<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @camper.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @camper.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @camper.gender %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= User.find_by(id: session[:user_id]).name %>
</p>

<%= link_to 'Edit', edit_camper_path(@camper) %> |
<%= link_to 'Back', campers_path %>
